.container {
  display: flex;
  justify-content: center;
  margin: rem(80) auto;
  width: 100%;
  gap: 2.5vw;
  padding: 0 5vw;
  @mixin smaller-than $mantine-breakpoint-sm {
    margin: rem(50) auto;
    gap: rem(16);
    padding: 0 rem(16);
  }
}

.optionContainer {
  flex: 1 1 0;
  background-color: var(--mantine-color-dark-8);
  border: var(--mantine-border-width) solid var(--mantine-border-color);
  border-radius: var(--mantine-radius-md);
  max-width: 50%;
  padding: rem(16);
  @mixin smaller-than $mantine-breakpoint-sm {
    padding: rem(8);
    max-width: 100%;
  }
}

.label {
  font-size: rem(20);
  font-weight: var(--mantine-fw-sb);
  @mixin smaller-than $mantine-breakpoint-sm {
    font-size: 1rem;
  }
}
