.container {
  display: flex;
  height: calc(90vh - (var(--mantine-header-height) + rem(100)));
  width: 95vw;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 auto;
}

.bar {
  background-color: var(--mantine-color-blue-6);
}
