.retroRoot {
  color: var(--mantine-color-black);
  border: rem(1) solid var(--mantine-color-black);
  background-color: var(--button-bg, var(--mantine-primary-color-4));
  box-shadow:
    rem(-8) rem(8) 0 rem(-1) var(--button-hover, var(--mantine-primary-color-7)),
    rem(-7) rem(7) 0 rem(-1) var(--button-hover, var(--mantine-primary-color-7)),
    rem(-6) rem(6) 0 rem(-1) var(--button-hover, var(--mantine-primary-color-7)),
    rem(-5) rem(5) 0 rem(-1) var(--button-hover, var(--mantine-primary-color-7)),
    rem(-4) rem(4) 0 rem(-1) var(--button-hover, var(--mantine-primary-color-7)),
    rem(-3) rem(3) 0 rem(-1) var(--button-hover, var(--mantine-primary-color-7)),
    rem(-2) rem(2) 0 rem(-1) var(--button-hover, var(--mantine-primary-color-7));
}

.retroRoot:active {
  transform: translateY(rem(4)) translateX(rem(-4));
  box-shadow:
    rem(-4) rem(4) 0 rem(-1) var(--button-hover, var(--mantine-primary-color-7)),
    rem(-3) rem(3) 0 rem(-1) var(--button-hover, var(--mantine-primary-color-7)),
    rem(-2) rem(2) 0 rem(-1) var(--button-hover, var(--mantine-primary-color-7));
}

.retroRoot:hover {
  background-color: var(--button-bg, var(--mantine-primary-color-4));
  color: var(--mantine-color-black);
}

.retroRoot:focus-visible {
  outline-color: var(--mantine-primary-color-4);
}
